@use "../../scss/base" as *;

.spinner {
    z-index: 9999;
    margin-inline: auto;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    border: 0.5em solid $clr-primary-faded;
    border-top: 0.5em solid $clr-accent;
    border-bottom: 0.5em solid $clr-accent;

    border-radius: 50%;

    width: $fs-extra-lg;
    height: $fs-extra-lg;

    animation: spinner-spin 5s ease-in-out infinite;
}

.spinner-normal {
    --border-width: 0.25em;
    border: var(--border-width) solid $clr-primary-faded;
    border-top: var(--border-width) solid $clr-accent;
    border-bottom: var(--border-width) solid $clr-accent;

    border-radius: 50%;

    width: 2.3rem;
    height: 2.3em;

    animation: spinner-spin 5s ease-in-out infinite;
}
