@use "../../scss/base" as *;

.main-modal-container {
    position: fixed;
    inset: 0;
    background-color: rgba(black, 0.85);

    place-items: center;

    z-index: 9999;

    &.modal-open {
        display: grid;
    }
    &.modal-close {
        display: none;
    }

    .modal-content-container {
        position: relative;
        z-index: 999;
        width: 70%;
        aspect-ratio: 2 / 1.5;

        background-color: $clr-neutral-faded;

        @media screen and (max-width: 34.5rem) {
            width: 90%;
            button {
                right: 0 !important;
            }
        }

        iframe {
            min-width: 100%;
            min-height: 100%;
        }

        button {
            position: absolute;
            top: -1em;
            right: -2em;
            color: $clr-primary;
            font-size: $fs-lg;

            transition: color 200ms ease;
            &:hover {
                color: $clr-accent;
            }
        }
    }
}
